@model GrantApp.Models.SubProgramMaster

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<div class="row">

    <div class="col-md-12 col-sm-12 form-group">
        <label>मुलभुत क्षेत्र</label>
        @Html.DropDownListFor(m => m.MainSectionId, GrantApp.Areas.Admin.FunctionClass.GetMainSectionListDD(Model.ViewbagGrantTypeId), new { @id = "dll_MainSectionId", @class = "form-control form-control sm", @required = "required", @onChange = "GetProgramListByMainSectionId()" })

    </div>

    @if (ViewBag.Mode == "Edit" || ViewBag.ErrMode == "On")
    {
        <div class="col-md-12 col-sm-12 form-group">
            <label>कार्यविधि बमोजिम क्षेत्र</label>
            @Html.DropDownListFor(m => m.ProgramId, GrantApp.Areas.Admin.FunctionClass.GetProgramListDDForEdit(Model.MainSectionId), new { @id = "dll_ProgramId", @class = "form-control form-control sm", @required = "required" })

        </div>
    }

    else
    {
        <div class="col-md-12 col-sm-12 form-group">
            <label>कार्यविधि बमोजिम क्षेत्र</label>
            @Html.DropDownListFor(m => m.ProgramId, GrantApp.Areas.Admin.FunctionClass.GetProgramListDDForInsert(), new { @id = "dll_ProgramId", @class = "form-control form-control sm", @required = "required" })
            @Html.ValidationMessageFor(m => m.ProgramId)
        </div>
    }

    <div class="col-md-12 col-sm-6 form-group">
        <label>आयोजना/कार्यक्रमको नाम (कृपया नेपालि युनिकोडमा लेख्नुहोस ।)</label>
        @Html.TextBoxFor(m => m.SubProgramTitle, new { @class = "form-control form-control sm", @required = "required", @id = "SubProgramTitle" })
        @Html.ValidationMessageFor(m => m.SubProgramTitle)
    </div>

    <div class="col-md-4 col-sm-6 form-group">
        <label>लाभान्वित सम्भाब्य जनसंख्या</label>
        @Html.TextBoxFor(m => m.ProbableBenefitedPopulation, new { @class = "form-control form-control sm", @required = "required" })
        @Html.ValidationMessageFor(m => m.ProbableBenefitedPopulation)
    </div>


    <div class="col-md-4 col-sm-6 form-group">
        <label>अवधि (वर्ष)</label>
        @Html.DropDownListFor(m => m.TimeDurationYear, GrantApp.Areas.Admin.FunctionClass.GetProgramYearList(), new { @class = "form-control form-control sm", @id = "dll_TimeDurationYearID", @required = "required", @onChange = "GetYearWiseDivVal()" })
        @Html.ValidationMessageFor(m => m.TimeDurationYear)
    </div>

    <div class="col-md-4 col-sm-6 form-group">
        <label>कुल लागत रू (लाखमा)</label>
        @Html.TextBoxFor(m => m.TotalBudget, new { @id = "TotalBudget", @class = "form-control form-control sm" })
        @Html.ValidationMessageFor(m => m.TotalBudget)
    </div>



    @if (ViewBag.Mode == "Edit" || ViewBag.ErrMode == "On")
    {
        if (Model.TimeDurationYear == 1)
        {
            <div class="col-md-4 col-sm-6 form-group" id="FirstYearAmount">
                <label>माग रकम रू लाखमा चालुतर्फ (प्रथम वर्ष)</label>
                @Html.TextBoxFor(m => m.BudgetForFirstYear, new { @id = "TotalBudgetFirstYear", @class = "form-control form-control sm" })
                @Html.ValidationMessageFor(m => m.BudgetForFirstYear)
            </div>

            <div class="col-md-4 col-sm-6 form-group" id="FirstYearAmount1">
                <label>माग रकम रू लाखमा पुँजीगततर्फ (प्रथम वर्ष)  </label>
                @Html.TextBoxFor(m => m.PujiFirstYearAmount, new { @id = "TotalBudgetFirstYear2", @class = "form-control form-control sm" })
                @Html.ValidationMessageFor(m => m.PujiFirstYearAmount)
            </div>
        }

        if (Model.TimeDurationYear > 1)
        {
            <div class="col-md-4 col-sm-6 form-group" id="FirstYearAmount">
                <label>माग रकम रू लाखमा चालुतर्फ (प्रथम वर्ष)</label>
                @Html.TextBoxFor(m => m.BudgetForFirstYear, new { @id = "TotalBudgetFirstYear", @class = "form-control form-control sm" })
                @Html.ValidationMessageFor(m => m.BudgetForFirstYear)
            </div>

            <div class="col-md-4 col-sm-6 form-group" id="FirstYearAmount1">
                <label>माग रकम रू लाखमा पुँजीगततर्फ (प्रथम वर्ष)  </label>
                @Html.TextBoxFor(m => m.PujiFirstYearAmount, new { @id = "TotalBudgetFirstYear2", @class = "form-control form-control sm" })
                @Html.ValidationMessageFor(m => m.PujiFirstYearAmount)
            </div>

            <div class="col-md-4 col-sm-6 form-group" id="SecondYearAmount">
                <label>माग रकम रू लाखमा चालुतर्फ (दोस्रो वर्ष)</label>
                @Html.TextBoxFor(m => m.BudgetForSecondYear, new { @id = "TotalBudgetSecondYear", @class = "form-control form-control sm" })
                @Html.ValidationMessageFor(m => m.BudgetForSecondYear)
            </div>

            <div class="col-md-4 col-sm-6 form-group" id="SecondYearAmount1">
                <label>माग रकम रू लाखमा पुँजीगततर्फ (दोस्रो वर्ष)</label>
                @Html.TextBoxFor(m => m.PujiSecondYearAmount, new { @id = "TotalBudgetSecondYear2", @class = "form-control form-control sm" })
                @Html.ValidationMessageFor(m => m.PujiSecondYearAmount)
            </div>

            if (Model.TimeDurationYear > 2)
            {


                <div class="col-md-4 col-sm-6 form-group" id="ThirdYearAmount">
                    <label>माग रकम रू लाखमा चालुतर्फ (तेस्रो वर्ष)</label>
                    @Html.TextBoxFor(m => m.BudgetForThirdYear, new { @id = "TotalBudgetThirdYear", @class = "form-control form-control sm", @required = "required" })
                    @Html.ValidationMessageFor(m => m.BudgetForThirdYear)
                </div>

                <div class="col-md-4 col-sm-6 form-group" id="ThirdYearAmount1">
                    <label>माग रकम रू लाखमा पुँजीगततर्फ (तेस्रो वर्ष)</label>
                    @Html.TextBoxFor(m => m.PujiThirdYearAmount, new { @id = "TotalBudgetThirdYear2", @class = "form-control form-control sm", @required = "required" })
                    @Html.ValidationMessageFor(m => m.PujiThirdYearAmount)
                </div>
            }
        }

    }

    else
    {
        <div class="row col-md-12" id="FirstYearAmount">
            <div class="col-md-4 col-sm-6 form-group">
                <label>माग रकम रू लाखमा चालुतर्फ (प्रथम वर्ष)</label>
                @Html.TextBoxFor(m => m.BudgetForFirstYear, new { @id = "TotalBudgetFirstYear", @class = "form-control form-control sm" })
                @Html.ValidationMessageFor(m => m.BudgetForFirstYear)
            </div>

            <div class="col-md-4 col-sm-6 form-group">
                <label>माग रकम रू लाखमा पुँजीगततर्फ (प्रथम वर्ष)  </label>
                @Html.TextBoxFor(m => m.PujiFirstYearAmount, new { @id = "TotalBudgetFirstYear2", @class = "form-control form-control sm" })
                @Html.ValidationMessageFor(m => m.PujiFirstYearAmount)
            </div>

        </div>


        <div class="row col-md-12" id="SecondYearAmount" style="display:none;">

            <div class="col-md-4 col-sm-6 form-group">
                <label>माग रकम रू लाखमा चालुतर्फ (दोस्रो वर्ष)</label>
                @Html.TextBoxFor(m => m.BudgetForSecondYear, new { @id = "TotalBudgetSecondYear", @class = "form-control form-control sm" })
                @Html.ValidationMessageFor(m => m.BudgetForSecondYear)
            </div>

            <div class="col-md-4 col-sm-6 form-group">
                <label>माग रकम रू लाखमा पुँजीगततर्फ (दोस्रो वर्ष)</label>
                @Html.TextBoxFor(m => m.PujiSecondYearAmount, new { @id = "TotalBudgetSecondYear2", @class = "form-control form-control sm" })
                @Html.ValidationMessageFor(m => m.PujiSecondYearAmount)
            </div>
        </div>


        <div class="row col-md-12" id="ThirdYearAmount" style="display:none;">

            <div class="col-md-4 col-sm-6 form-group">
                <label>माग रकम रू लाखमा चालुतर्फ (तेस्रो वर्ष)</label>
                @Html.TextBoxFor(m => m.BudgetForThirdYear, new { @id = "TotalBudgetThirdYear", @class = "form-control form-control sm" })
                @Html.ValidationMessageFor(m => m.BudgetForThirdYear)
            </div>
            <div class="col-md-4 col-sm-6 form-group" id="ThirdYearAmount1">
                <label>माग रकम रू लाखमा पुँजीगततर्फ (तेस्रो वर्ष)</label>
                @Html.TextBoxFor(m => m.PujiThirdYearAmount, new { @id = "TotalBudgetThirdYear2", @class = "form-control form-control sm" })
                @Html.ValidationMessageFor(m => m.PujiThirdYearAmount)
            </div>
        </div>

    }

    <div class="clearfix"></div>   



</div>


<script type="text/javascript">
    function GetProgramListByMainSectionId() {
        var value = $("#dll_MainSectionId option:selected").val();
        $.ajax({
            url: "@Url.Action("GetProgramListByMainSectionId", "AjaxRequest", new { @area="admin"})",
            data: { id: value },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred.");
            },
            success: function (data) {
                var items = "";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                $("#dll_ProgramId").html(items);
            }
        })
    };
    function GetYearWiseDivVal() {
        var value = $("#dll_TimeDurationYearID option:selected").val();
        if (value == 2) {
            $("#FirstYearAmount").show();
            $("#FirstYearAmount1").show();

            
            $("#SecondYearAmount").show();
            $("#SecondYearAmount1").show();

            
            $("#ThirdYearAmount").hide();
            $("#ThirdYearAmount1").hide();

        }
        else if (value == 3) {
            $("#FirstYearAmount").show();
            $("#FirstYearAmount1").show();
            $("#SecondYearAmount").show();
            $("#SecondYearAmount1").show();


            $("#ThirdYearAmount").show();
            $("#ThirdYearAmount1").show();

        }
        else if (value == 1) {
            $("#FirstYearAmount").hide();
            $("#FirstYearAmount1").hide();
            $("#SecondYearAmount").hide();
            $("#SecondYearAmount1").hide();

            $("#ThirdYearAmount").hide();
            $("#SecondYearAmount1").hide();


        }
    }
</script>


