@model GrantApp.Models.RequestGrantAmountModel

@{
    ViewBag.Title = "populateRequestedGrantAmountList";
    Layout = "~/Areas/VDCMUNLevel/Views/Shared/_VDCMUNLayout.cshtml"; int i = 1;
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">अनुदान माग गरिएका कार्रक्रमहरुको विवरण</li>
        </ul>
    </div>
</div>
<section>
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">अनुदान माग गरिएका आयोजना/कार्यक्रमहरुको विवरण</h1>
        </header>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <div class="table-responsive m_table">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>क्रम</th>
                                        <th>आ.व.</th>
                                        <th>कार्यक्रमको नाम</th>
                                        <th>अनुदान प्रकार</th>
                                        <th>अनुदान माग रकम</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.ViewRequestGrantAmountModelList)
                                    {

                                        <tr>
                                            <td scope="row">@i</td>
                                            <td>@GrantApp.CommontUtilities.GetFiscalYearTitelByFID(item.FiscalYearId)</td>
                                            <td>@item.SubProgramTitle</td>
                                            <td>@GrantApp.Areas.Admin.FunctionClass.GetGrantTypeNameById(item.GrantTypeId)</td>
                                            <td>@item.RequestGrantAmount</td>

                                            <td>@Html.ActionLink(" ", "ViewDetailsForGrantRequestAmount", new { @id = item.SubProgramId, @id1 = item.GrantTypeId }, new { @class = "edits fa fa-eye", data_toggle = "tooltip", data_placement = "top", @title = "विवरण" })</td>

                                        </tr>
                                        ++i;
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
