@model GrantApp.Areas.Admin.Models.DashboardModel


<div id="FiscalYearWiseDetails">

    <div class="container-fluid">
        <div class="alert alert-info">
            आ.व. @Model.ProgramPhaseNumberStr को लागि प्रस्तावित आयोजना/कार्यक्रमको विवरण
        </div>

        <div class="row">

            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>कार्यक्रम प्रकार</th>
                        <th>जम्मा</th>
                        <th>प्रदेशबाट माग संख्या</th>
                        <th>स्था.तहबाट माग  संख्या</th>
                        <th>प्रदेश माग रकम</th>
                        <th>स्था.तह माग रकम</th>
                        <th>स्वीकृत प्रदेश</th>
                        <th>स्वीकृत स्था.तह</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- नयाँ आयोजना -->
                    <tr class="group-new">
                        <td>नयाँ आयोजना/कार्यक्रम</td>
                        <td class="text-right">@GrantApp.CommontUtilities.GetTotalProgramCountPhaseWise(Model.ProgramPhaseNumber)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWise(2, Model.ProgramPhaseNumber)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWise(4, Model.ProgramPhaseNumber)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramBudgetOfficeTypeWise(2, Model.ProgramPhaseNumber)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramBudgetOfficeTypeWise(4, Model.ProgramPhaseNumber)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalProgramApprovedOfficeWise(2, Model.ProgramPhaseNumber)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalProgramApprovedOfficeWise(4, Model.ProgramPhaseNumber)</td>
                    </tr>

                    <!-- विशेष अनुदान -->
                    <tr class="group-new">
                        <td>विशेष अनुदान</td>
                        <td class="text-right">@GrantApp.CommontUtilities.GetTotalProgramCountPhaseAndGrantTypeWise(Model.ProgramPhaseNumber, 1)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWise(2, Model.ProgramPhaseNumber, 1)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWise(4, Model.ProgramPhaseNumber, 1)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramBudgetOfficeTypeWise(2, Model.ProgramPhaseNumber, 1)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramBudgetOfficeTypeWise(4, Model.ProgramPhaseNumber, 1)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalProgramApprovedOfficeGrantTypeWise(2, Model.ProgramPhaseNumber, 1)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalProgramApprovedOfficeGrantTypeWise(4, Model.ProgramPhaseNumber, 1)</td>
                    </tr>

                    <!-- समपुरक अनुदान -->
                    <tr class="group-new">
                        <td>समपुरक अनुदान</td>
                        <td class="text-right">@GrantApp.CommontUtilities.GetTotalProgramCountPhaseAndGrantTypeWise(Model.ProgramPhaseNumber, 2)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWise(2, Model.ProgramPhaseNumber, 2)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWise(4, Model.ProgramPhaseNumber, 2)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramBudgetOfficeTypeWise(2, Model.ProgramPhaseNumber, 2)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramBudgetOfficeTypeWise(4, Model.ProgramPhaseNumber, 2)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalProgramApprovedOfficeGrantTypeWise(2, Model.ProgramPhaseNumber, 2)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalProgramApprovedOfficeGrantTypeWise(4, Model.ProgramPhaseNumber, 2)</td>
                    </tr>

                    <!-- क्रमागत आयोजना -->
                    <tr class="group-old">
                        <td>क्रमागत आयोजना/कार्यक्रम (विषेश)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.DashboradCountTotalRequestGrantAmount(1, 0, Model.RGAFiscalYearId)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWiseRGA(2, Model.ProgramPhaseNumber, Model.RGAFiscalYearId,1)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWiseRGA(4, Model.ProgramPhaseNumber, Model.RGAFiscalYearId,1)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalRequestAmountOfficeTypeWiseRGA(2, Model.ProgramPhaseNumber, Model.RGAFiscalYearId,1)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalRequestAmountOfficeTypeWiseRGA(4, Model.ProgramPhaseNumber, Model.RGAFiscalYearId,1)</td>
                        <td class="text-right">-</td>
                        <td class="text-right">-</td>
                    </tr>
                    <!-- क्रमागत आयोजना -->
                    <tr class="group-old">
                        <td>क्रमागत आयोजना/कार्यक्रम (समपुरक)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.DashboradCountTotalRequestGrantAmount(2, 0, Model.RGAFiscalYearId)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWiseRGA(2, Model.ProgramPhaseNumber, Model.RGAFiscalYearId, 2)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWiseRGA(4, Model.ProgramPhaseNumber, Model.RGAFiscalYearId, 2)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalRequestAmountOfficeTypeWiseRGA(2, Model.ProgramPhaseNumber, Model.RGAFiscalYearId, 2)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalRequestAmountOfficeTypeWiseRGA(4, Model.ProgramPhaseNumber, Model.RGAFiscalYearId, 2)</td>
                        <td class="text-right">-</td>
                        <td class="text-right">-</td>
                    </tr>
                    <!-- क्रमागत आयोजना -->
                    <tr class="group-old">
                        <td>कुल क्रमागत आयोजना/कार्यक्रम</td>
                        <td class="text-right">@GrantApp.CommontUtilities.DashboradCountTotalRequestGrantAmount(0, 0, Model.RGAFiscalYearId)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWiseRGA(2, 4, Model.RGAFiscalYearId)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWiseRGA(4, 4, Model.RGAFiscalYearId)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalRequestAmountOfficeTypeWiseRGA(2, 4, Model.RGAFiscalYearId)</td>
                        <td class="text-right">@GrantApp.CommontUtilities.TotalRequestAmountOfficeTypeWiseRGA(4, 4, Model.RGAFiscalYearId)</td>
                        <td class="text-right">-</td>
                        <td class="text-right">-</td>
                    </tr>

                </tbody>
            </table>


        </div>
    </div>

</div>


