@model GrantApp.Areas.Admin.Models.DashboardModel


<div id="FiscalYearWiseDetails">

    <div class="container-fluid">
        <div class="alert alert-info">
            आ.व. @Model.ProgramPhaseNumberStr को लागि प्रस्तावित आयोजना/कार्यक्रमको विवरण
        </div>

        <div class="row">

            <div class="col-xl-3 col-md-4 col-6">
                <div class="info-box">
                    <div class="wrapper count-title d-flex">

                        <div class="name">
                            <strong class="text-uppercase">नयाँ आयोजना/कार्यक्रम </strong>
                            <div class="count-number"><strong>जम्मा : @GrantApp.CommontUtilities.GetTotalProgramCountPhaseWise(Model.ProgramPhaseNumber)</strong></div>

                            <div class="count-number">प्रदेश तर्फः @GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWise(2, Model.ProgramPhaseNumber)</div>

                            <div class="count-number">स्था.तह तर्फः @GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWise(4, Model.ProgramPhaseNumber)</div>
                            <div class="count-number">प्रदेश रकम माग: @GrantApp.CommontUtilities.TotalNewProgramBudgetOfficeTypeWise(2, Model.ProgramPhaseNumber)</div>

                            <div class="count-number">स्था.तह रकम मागः @GrantApp.CommontUtilities.TotalNewProgramBudgetOfficeTypeWise(4, Model.ProgramPhaseNumber)</div>
                            <div class="count-number">स्वीकृत आयोजना प्र.तर्फः @GrantApp.CommontUtilities.TotalProgramApprovedOfficeWise(2, Model.ProgramPhaseNumber)</div>
                            <div class="count-number">स्वीकृत आयोजना स्था.तह तर्फः @GrantApp.CommontUtilities.TotalProgramApprovedOfficeWise(4, Model.ProgramPhaseNumber)</div>

                            @*<div>
                                    @Html.ActionLink("विवरण", "ViewDashboardNewProgramList", new { @id = 0, @id1 = 4 })
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>

            <!-- Count item widget-->
            <div class="col-xl-3 col-md-4 col-6">
                <div class="info-box">
                    <div class="wrapper count-title d-flex">

                        <div class="name">
                            <strong class="text-uppercase"> विशेष अनुदान तर्फ</strong>
                            <div class="count-number"><strong>जम्मा: @GrantApp.CommontUtilities.GetTotalProgramCountPhaseAndGrantTypeWise(Model.ProgramPhaseNumber, 1) </strong></div>
                            <div class="count-number">प्रदेश तर्फः @GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWise(2, Model.ProgramPhaseNumber, 1)</div>

                            <div class="count-number">स्था.तह तर्फः @GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWise(4, Model.ProgramPhaseNumber, 1)</div>
                            <div class="count-number">प्रदेश रकमः @GrantApp.CommontUtilities.TotalNewProgramBudgetOfficeTypeWise(2, Model.ProgramPhaseNumber, 1)</div>

                            <div class="count-number">स्था.रकमः @GrantApp.CommontUtilities.TotalNewProgramBudgetOfficeTypeWise(4, Model.ProgramPhaseNumber, 1)</div>
                            <div class="count-number">स्वीकृत आयोजना प्र.तर्फः @GrantApp.CommontUtilities.TotalProgramApprovedOfficeGrantTypeWise(2, Model.ProgramPhaseNumber, 1)</div>
                            <div class="count-number">स्वीकृत आयोजना स्था.तह तर्फः @GrantApp.CommontUtilities.TotalProgramApprovedOfficeGrantTypeWise(4, Model.ProgramPhaseNumber, 1)</div>

                            @*<div>
                                    @Html.ActionLink("विवरण", "ViewDashboardNewProgramList", new { @id = 1, @id1 = 4 })
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>

            <!-- Count item widget-->
            <div class="col-xl-3 col-md-4 col-6">
                <div class="info-box">
                    <div class="wrapper count-title d-flex">

                        <div class="name">
                            <strong class="text-uppercase"> समपुरक अनुदान तर्फ</strong>
                            <div class="count-number"><strong>जम्मा : @GrantApp.CommontUtilities.GetTotalProgramCountPhaseAndGrantTypeWise(Model.ProgramPhaseNumber, 2) </strong></div>
                            <div class="count-number">प्रदेश तर्फः @GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWise(2, Model.ProgramPhaseNumber, 2)</div>

                            <div class="count-number">स्था.तह तर्फ: @GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWise(4, Model.ProgramPhaseNumber, 2)</div>
                            <div class="count-number">प्रदेश रकमः @GrantApp.CommontUtilities.TotalNewProgramBudgetOfficeTypeWise(2, Model.ProgramPhaseNumber, 2)</div>

                            <div class="count-number">स्था.तह रकम: @GrantApp.CommontUtilities.TotalNewProgramBudgetOfficeTypeWise(4, Model.ProgramPhaseNumber, 2)</div>
                            <div class="count-number">स्वीकृत आयोजना प्र.तर्फः @GrantApp.CommontUtilities.TotalProgramApprovedOfficeGrantTypeWise(2, Model.ProgramPhaseNumber, 2)</div>
                            <div class="count-number">स्वीकृत आयोजना स्था.तह तर्फः @GrantApp.CommontUtilities.TotalProgramApprovedOfficeGrantTypeWise(4, Model.ProgramPhaseNumber, 2)</div>

                            @*<div>
                                    @Html.ActionLink("विवरण", "ViewDashboardNewProgramList", new { @id = 2, @id1 = 4 })
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-md-4 col-6">
                <div class="info-box">
                    <div class="wrapper count-title d-flex">

                        <div class="name">
                            <strong class="text-uppercase">क्रमागत आयोजना/कार्यक्रम</strong>
                            <div class="count-number"><strong>जम्मा : @GrantApp.CommontUtilities.DashboradCountTotalRequestGrantAmount(0, 0, Model.RGAFiscalYearId) </strong></div>
                            <div class="count-number">विशेष अनुदानः @GrantApp.CommontUtilities.TotalRequestAmountGrantTypeWise(Model.RGAFiscalYearId, 1)</div>
                            <div class="count-number">समपुरक अनुदानः @GrantApp.CommontUtilities.TotalRequestAmountGrantTypeWise(Model.RGAFiscalYearId, 2)</div>

                            <div class="count-number">प्रदेश तर्फः @GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWiseRGA(2, 4, Model.RGAFiscalYearId)</div>
                            <div class="count-number">स्थानिय तह तर्फः @GrantApp.CommontUtilities.TotalNewProgramOfficeTypeWiseRGA(4, 4, Model.RGAFiscalYearId)</div>

                            <div class="count-number">प्रदेश रकम: @GrantApp.CommontUtilities.TotalRequestAmountOfficeTypeWiseRGA(2, 4, Model.RGAFiscalYearId)</div>
                            <div class="count-number">स्थानिय रकम: @GrantApp.CommontUtilities.TotalRequestAmountOfficeTypeWiseRGA(4, 4, Model.RGAFiscalYearId)</div>

                            @*<div>
            @Html.ActionLink("विवरण", "ViewDashboardRequestAmountList", new { @id = 0, @id1 = 14 })
        </div>*@
                            @*<div>
            @Html.ActionLink("विवरण", "ViewDashboardNewProgramList", new { @id = 2, @id1 = 4 })
        </div>*@
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

</div>


