@{
    int CurrentLoginUserMenuStaus = CommontUtilities.GetCurrentLoginUserMenuBarStatus();
    //CurrentLoginUserMenuStaus = 1;
}
<style>

    .menu-green {
        background: #006699 !important;
    }

    .menu-red {
        background: red !important;
    }
</style>


<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <!-- Sidebar Header -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <div class="sidenav-header-inner text-center">
                <img src="~/AdminResources/img/photos/250px-Emblem_of_Nepal.svg.png" alt="Logo" class="img-fluid">
            </div>
            <div class="sidenav-header-logo">
                <a href="~/VDCMUNLevel/VDCMUNHome/Dashboard" class="brand-small text-center">
                    <strong>M</strong><strong class="text-primary">P</strong>
                </a>
            </div>
        </div>

        <!-- Sidebar Navigation Menus -->
        <div class="main-menu">
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li class="@(CurrentLoginUserMenuStaus > 1 ? "menu-green" : "menu-red")">
                    <a href="~/VDCMUNLevel/VDCMUNHome/ViewProfile">
                        <i class="fa fa-user"></i> प्रयोगकर्ताको प्रोफाइल
                    </a>
                </li>

                @if (CurrentLoginUserMenuStaus > 1)
                {
                    <li class="@(CurrentLoginUserMenuStaus > 2 ? "menu-green" : "menu-red")">
                        <a href="~/VDCMUNLevel/SubProgramSetup/CheckValidationForProgress/0">
                            <i class="icon-interface-windows"></i> प्रगति विवरण
                        </a>
                    </li>


                }

                @if (CurrentLoginUserMenuStaus > 2)
                {
                    <li class="@(CurrentLoginUserMenuStaus > 3 ? "menu-green" : "menu-red")">
                        <a href="~/VDCMUNLevel/SubProgramSetup/CheckValidationForPrevious/0">
                            <i class="icon-interface-windows"></i> क्रमागत आयोजना वा कार्यक्रम
                        </a>
                    </li>
                }

                @if (CurrentLoginUserMenuStaus > 3)
                {
                    <li class="@(CurrentLoginUserMenuStaus > 4 ? "menu-green" : "menu-red")">
                        <a href="#DemandGrant" aria-expanded="false" data-toggle="collapse">
                            <i class="icon-interface-windows"></i> नयाँ आयोजना वा कार्यक्रम
                        </a>
                        <ul id="DemandGrant" class="collapse list-unstyled">
                            <li><a href="~/VDCMUNLevel/Grant/Index/2"><i class="icon-form"></i> समपुरक अनुदान</a></li>
                            <li><a href="~/VDCMUNLevel/Grant/Index/1"><i class="icon-form"></i> विशेष अनुदान</a></li>
                        </ul>
                    </li>
                }

                @if (CurrentLoginUserMenuStaus > 4)
                {
                    @*<li>
                <a href="~/VDCMUNLevel/AdhuroGrant/GetNotCompletedProjectList"> <i class="icon-form"></i>अधुरा आयोजना सम्बन्धी विशेष व्यवस्था अनुसार प्रस्ताव पेश गर्नुहोस</a>
            </li>


            <li>
                <a href="~/VDCMUNLevel/AdhuroGrant/GetBhuktaniRemainingProjectList"> <i class="icon-form"></i>कार्यसम्पन्न भएको आयोजनाको दायित्व भुक्तानी सम्बन्धी विशेष व्यवस्था अनुसार प्रस्ताव पेश गर्नुहोस</a>
            </li>*@


                    <li>
                        <a href="~/VDCMUNLevel/PublicGrant/GetProjectList"> <i class="icon-form"></i>साझेदारी/सह-लगानीमा आधारित आयोजना प्रस्ताव</a>
                    </li>

                }

                @if (CurrentLoginUserMenuStaus > 2)
                {
                    <li class="@(CurrentLoginUserMenuStaus > 2 ? "menu-green" : "")">
                        <a href="~/VDCMUNLevel/SubProgramSetup/MissingDocumentManagement">
                            <i class="icon-interface-windows"></i> नपुग कागजात पेश गर्नुहोस
                        </a>
                    </li>
                }


                <li>
                    <div class="btn-user-manual">@Html.ActionLink("समपूरक अनुसूचि १", "DownLoadSamapurakAnusuchi1", "Grant", null, new { @class = "fa fa-download", target = "_blank" })</div>
                </li>
                <li>
                    <div class="btn-user-manual">@Html.ActionLink("समपूरक अनुसूचि ५", "DownLoadBiseshAnusuchi5", "Grant", null, new { @class = "fa fa-download", target = "_blank" })</div>
                </li>

                <li>
                    <div class="btn-user-manual">@Html.ActionLink("विशेष अनुसूचि २", "DownLoadBiseshAnusuchi2", "Grant", null, new { @class = "fa fa-download", target = "_blank" })</div>
                </li>

                <li>
                    <div class="btn-user-manual">@Html.ActionLink("विेशेष अनुसूचि ३", "DownLoadBiseshAnusuchi3", "Grant", null, new { @class = "fa fa-download", target = "_blank" })</div>
                </li>
                <li>
                    <div class="btn-user-manual">@Html.ActionLink("विेशेष अनुसूचि ७", "DownLoadBiseshAnusuchi7", "Grant", null, new { @class = "fa fa-download", target = "_blank" })</div>
                </li>

            </ul>
        </div>
    </div>
</nav>

