@model GrantApp.Models.OfficeDetails

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Areas/VDCMUNLevel/Views/Shared/_VDCMUNLayout.cshtml";
    int CurrentLoginuserType = CommontUtilities.GetCurrentLoginUserUserTypeByOfficeId(Model.OfficeId);
}
<style>
    .bg-info {
        color: #ffffff !important;
    }
</style>
<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">प्रयोगकर्ताको प्रोफाईल</h1>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="col-md-12" style="font-weight:bold;font-style:italic;color:blue;">
                        तपाँईले राख्नुभएको विवरण ठिक छ भने 'विवरण ठीक छ' लेखिएको बटनमा क्लिक गर्नुहोस अन्यथा विवरण अद्यावधिक गर्नुहोस् ।
                    </div>
                    @*<div class="col-md-12 pull-right" style="margin-top:10px;">
                            @Html.ActionLink("विवरण ठिक छ", "Dashboard", "VDCMUNHome", new { @class = "btn btn-success btn-sm" })

                            @Html.ActionLink("मुख्य पेजमा जानुहोस", "Dashboard", "VDCMUNHome", new { @class = "btn btn-info btn-sm pull-right" })
                        </div>*@
                    <div class="card-header d-flex align-items-center">
                        @if (ViewBag.ReturnMessage != null)
                        {
                            <span style="font-weight: bold; font-style: italic; color: green;">@ViewBag.ReturnMessage</span>
                        }

                    </div>


                    <div class="card-body">

                        @using (Html.BeginForm("ViewProfile", "VDCMUNHome", FormMethod.Post,
new { enctype = "multipart/form-data", @id = "GrantFormID" }))
                        {
                            @Html.HiddenFor(m => m.OfficeId)
                            @*@Html.HiddenFor(m => m.AuthorizedEmail)*@


                            @Html.ValidationSummary(true)
                            <fieldset>
                                <div class="row">


                                    <div class="col-md-4 col-sm-6 form-group">
                                        <label>कार्यालयको नाम</label>
                                        @Html.TextBoxFor(m => m.OfficeName, new { @class = "form-control form-control sm", @id = "OfficeName", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(m => m.OfficeName)
                                    </div>
                                    <div class="col-md-4 col-sm-6 form-group">
                                        <label>युजरनेम</label>
                                        @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control form-control sm", @id = "OfficeName", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(m => m.EmailID)
                                    </div>

                                    <div class="col-md-4 col-sm-6 form-group">
                                        <label>कार्यालयको ईमेल (*)</label>
                                        @Html.TextBoxFor(m => m.AuthorizedEmail, new { @class = "form-control form-control sm", @id = "AuthorizedEmail", @type = "Email" })
                                        @Html.ValidationMessageFor(m => m.AuthorizedEmail)
                                    </div>

                                    <div class="col-md-4 col-sm-6 form-group">
                                        <label>कार्यालयको टेलिफोन नं.(*)</label>
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control form-control sm", @id = "Phone" })
                                        @Html.ValidationMessageFor(m => m.Phone)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 form-group">
                                        @if (CurrentLoginuserType == 2)
                                        {
                                            <label>मुख्य मन्त्रीको नाम (*)</label>
                                        }
                                        else
                                        {
                                            <label>मुख्यमन्त्री/प्रमुख/अध्यक्ष को नाम (*)</label>
                                        }

                                        @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form-control form-control sm", @id = "contactname", required = "required" })
                                        @Html.ValidationMessageFor(m => m.ContactPerson)
                                    </div>
                                    <div class="col-md-4 col-sm-6 form-group">
                                        @if (CurrentLoginuserType == 2)
                                        {
                                            <label>मुख्यमन्त्रीको ईमेल (*)</label>

                                        }
                                        else
                                        {
                                            <label>मुख्यमन्त्री/प्रमुख/अध्यक्ष को ईमेल (*)</label>

                                        }
                                        @Html.TextBoxFor(m => m.ContactPersonPost, new { @class = "form-control form-control sm", @id = "ContactPersonPost", required = "required", @type = "Email" })
                                        @Html.ValidationMessageFor(m => m.ContactPersonPost)
                                    </div>
                                    <div class="col-md-4 col-sm-6 form-group">
                                        @if (CurrentLoginuserType == 2)
                                        {
                                            <label>मुख्यमन्त्रीको मोबाईल नं. (*)</label>
                                        }
                                        else
                                        {
                                            <label>मुख्यमन्त्री/प्रमुख/अध्यक्ष को मोबाईल नं. (*)</label>

                                        }
                                        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control form-control sm", @id = "mobile", required = "required" })
                                        @Html.ValidationMessageFor(m => m.MobileNumber)
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-4 col-sm-6 form-group">
                                        @if (CurrentLoginuserType == 2)
                                        {
                                            <label>प्रदेश नीति तथा योजना आयोगको उपाध्यक्षको नाम (*)</label>

                                        }
                                        else
                                        {
                                            <label>उपप्रमुख/उपाध्यक्ष को नाम (*)</label>

                                        }
                                        @Html.TextBoxFor(m => m.UpMayerName, new { @class = "form-control form-control sm", @id = "UpMayerName", required = "required" })
                                        @Html.ValidationMessageFor(m => m.UpMayerName)
                                    </div>
                                    <div class="col-md-4 col-sm-6 form-group">
                                        @if (CurrentLoginuserType == 2)
                                        {
                                            <label>प्रदेश नीति तथा योजना आयोगको उपाध्यक्षको ईमेल (*)</label>

                                        }
                                        else
                                        {
                                        <label>उपप्रमुख/उपाध्यक्ष को ईमेल (*)</label>

                                        }
                                        @Html.TextBoxFor(m => m.UpMayeraEmail, new { @class = "form-control form-control sm", @id = "UpMayeraEmail", required = "required", @type = "Email" })
                                        @Html.ValidationMessageFor(m => m.UpMayeraEmail)
                                    </div>
                                    <div class="col-md-4 col-sm-6 form-group">
                                        @if (CurrentLoginuserType == 2)
                                        {
                                            <label>प्रदेश नीति तथा योजना आयोगको उपाध्यक्षको मोबाईल नं. (*)</label>

                                        }
                                        else
                                        {
                                    <label>उपप्रमुख/उपाध्यक्ष को मोबाईल नं. (*)</label>

                                        }
                                        @Html.TextBoxFor(m => m.UpMayerMobile, new { @class = "form-control form-control sm", @id = "UpMayerMobile", required = "required" })
                                        @Html.ValidationMessageFor(m => m.UpMayerMobile)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 form-group">
                                        @if (CurrentLoginuserType == 2)
                                        {
                                            <label>प्रमुख सचिवको नाम (*)</label>

                                        }
                                        else
                                        {
                                            <label>प्रमुख सचिव/प्रमुख प्रशासकीय अधिकृतको नाम (*)</label>

                                        }
                                        @Html.TextBoxFor(m => m.ContactPersonAccount, new { @class = "form-control form-control sm", @id = "contactname", required = "required" })
                                        @Html.ValidationMessageFor(m => m.ContactPersonAccount)
                                    </div>



                                    <div class="col-md-4 col-sm-6 form-group">
                                        @if (CurrentLoginuserType == 2)
                                        {
                                            <label>प्रमुख सचिवको ईमेल (*)</label>

                                        }
                                        else

                                        {
                                            <label>प्रमुख सचिव/प्रमुख प्रशासकीय अधिकृतको ईमेल (*)</label>

                                        }
                                        @Html.TextBoxFor(m => m.ContactPersonEmailAccount, new { @class = "form-control form-control sm", @id = "ContactPersonEmailAccount", required = "required", @type = "Email" })
                                        @Html.ValidationMessageFor(m => m.ContactPersonEmailAccount)
                                    </div>
                                    <div class="col-md-4 col-sm-6 form-group">
                                        @if (CurrentLoginuserType == 2)
                                        {
                                            <label>प्रमुख सचिवको मोबाईल नं. (*)</label>

                                        }
                                        else
                                        {
                                            <label>प्रमुख सचिव/प्रमुख प्रशासकिय अधिकृतको मोबाईल नं. (*)</label>

                                        }
                                        @Html.TextBoxFor(m => m.ContactPersonMobileAccount, new { @class = "form-control form-control sm", @id = "ContactPersonMobileAccount", required = "required" })
                                        @Html.ValidationMessageFor(m => m.ContactPersonMobileAccount)
                                    </div>


                                </div>


                                <div class="form-group">

                                    <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-floppy-o">&nbsp;</i> विवरण ठीक छ</button>
                                    @*@Html.ActionLink("मुख्य पेजमा जानुहोस", "Dashboard", "VDCMUNHome", new { @class = "btn btn-info btn-sm" })*@

                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>



