@model GrantApp.Areas.Admin.Models.LetterDetails

@{
    ViewBag.Title = "ViewLetterDetail";
    Layout = "~/Areas/VDCMUNLevel/Views/Shared/_VDCMUNLayout.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Letter Details</li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">

                        <h4 style="color:#0991f3;">
                            कागजात (पत्रहरू)को विवरण
                        </h4>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-3 form-group"><b>विषय:</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@Model.LetterSubject</div>
                            <div class="col-lg-4 col-md-3 form-group"><b>विस्तृत विवरणः</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@Model.LetterDescription</div>
                            <div class="col-lg-4 col-md-3 form-group"><b>प्रकाशित मितिः</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@Model.LetterDateEng</div>

                        </div>

                        <hr />
                        <div class="row">

                            <div class="col-lg-4 col-md-3 form-group"><h4 style="color:#0991f3;">अपलोड गरेको फाइल:</h4></div>
                            <div class="col-lg-4 col-md-9 form-group">@Model.UploadDoc</div>
                            @if (Model.UploadDoc != "")
                            {
                                FileInfo fi = new FileInfo(Model.UploadDoc);
                                string extn = fi.Extension;
                                string imgPath = @"~/LetterDocs/" + Model.UploadDoc;



                                if (extn == ".jpg" || extn == ".JPG" || extn == ".jpeg" || extn == ".JPEG" || extn == ".PNG" || extn == ".png")
                                {
                                    <a target="_blank" href='@Url.Content(imgPath)'>
                                        <text> हेर्नुहोस</text>
                                    </a>

                                }

                                else
                                {
                                    <div class="col-lg-4 col-md-9 form-group">@Html.ActionLink(" Download", "Download", "GrantRequestForm", new { @FileName = Model.UploadDoc }, new { @class = "fa fa-download" })</div>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="form-group">

            @Html.ActionLink(" मुख्य सुचिमा जानुहोस", "ListLetter", "VDCMUNHome", new { @class = "btn btn-info btn-sm fa fa-home" })
        </div>
    </div>
</section>


