@model GrantApp.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}

<style>

    /*.login-page form, .register-page form {
        margin: 2rem auto 1rem;
        max-width: 475px!important;
        min-width: 562px!important;
    }*/
    .OfficeName span {
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 600;
    }

    .OfficeName small {
        color: #e00000;
        display: block;
        font-size: 16px !important;
        margin-top: 10px;
    }

    .login-logo1 img {
        max-height: 50px;
        max-width: 100%;
    }

    .logo-text {
        display: inline-block;
        position: relative;
        color: #ED1C24;
        font-size: 14px;
        vertical-align: middle;
        padding-left: 10px;
        font-weight: bold;
    }

    .login-logo1 {
        font-size: 30px;
        font-weight: 500;
    }

        .login-logo1 a, .register-logo1 a {
            color: #fff;
            padding: 5px 0px;
            display: inline-block;
        }

    .login_head {
        /*background:url('../img/images.png');*/
        background: #fff;
        position: fixed;
        color: #000;
        border-bottom: 1px solid #ddd;
        margin-bottom: 25px;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .form-group {
        text-align: left !important;
        margin-left: 3px !important;
    }

    .login-page .form-outer, .register-page .form-outer {
        border: 1px solid #b0b0c4 !important;
    }

    .login_head_2 {
        background: #1797d4;
        color: #fff;
        margin-bottom: 0px;
        z-index: 2;
    }

        .login_head_2 .logo-text {
            color: #fff;
        }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>समपुरक तथा विशेष अनुदान</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Custom styles for this template -->
    @*<style>
            body {
                padding-top: 54px;
            }

            @@media (min-width: 992px) {
                body {
                    padding-top: 56px;
                }
            }
        </style>*@
</head>
<body class="login">

    <div class="login_head login_head_2">
        <div class="container">
            <div class="login-logo1">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <a href="~/Account/Login">
                            <img src="~/AdminResources/img/photos/250px-Emblem_of_Nepal.svg.png" />
                        </a>
                        <span class="logo-text">नेपाल सरकार<br />राष्ट्रिय योजना आयोग</span>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 text-right contact_head">

                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.login-logo -->
        </div>
    </div>


    <div class="login-overlay"></div>
    <div class="container">
        <div class="login-page">

            <div class="notificationText">

                आफ्नो पासवर्ड रिसेट गर्नुहोस ।

            </div>
            @if (@ViewBag.Message != null)
            {<div class="notificationText">
                    <span style="color:red;margin-left:45px;">@ViewBag.Message</span>
                </div>
            }
            <div class="form-outer text-center d-flex align-items-center login_box" style="min-height:0vh!important">


                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @*<h4>Reset your password.</h4>*@
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    @*<div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "प्रयोगकर्ता ईमेल", required = "", autofocus = "" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    </div>



                    @*<div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        <label>New Password</label>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", required = "", autofocus = "" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    </div>


                    @*<div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>*@
                    <div class="form-group">
                        <label>Retype New Password</label>
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password", required = "", autofocus = "" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

                    </div>



                    <div class="form-group">

                        <input type="submit" class="btn btn-info" value="Reset Password" />

                    </div>
                }
            </div>
        </div>
    </div>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
