@model GrantApp.Models.ReportModel
@{
    int Usertype = GrantApp.Areas.Admin.FunctionClass.GetCurrentLoginUserType();
    int i = 1;
    decimal GrandTotalAmount = 0;
    decimal GrandVDCMUNAmount = 0;
    decimal GrandTotalRequestAmt = 0;
}
<div class="table-responsive">
    <table class="table table-hover" id="DetailsReportsID" style="font-size:12px;">
        <thead>
            <tr>
                <th>क्रम</th>
                <th>आर्थिक वर्ष</th>
                <th>स्थानिय तहको नाम</th>
                <th>आयोजनाको कोड</th>
                <th>आयोजनाको नाम</th>
                <th>कूल लागत</th>
                <th>आयोजनाको अवधि</th>
                @*<th>२०७६/७७</th>
                <th>२०७७/७८</th>
                <th>२०७८/७९</th>
                <th>२०७९/८०</th>
                <th>२०८०/८१</th>*@
                <th>कुल ठेक्का रकम</th>
                <th>हालसम्मको निकासा रकम</th>
                <th>हालसम्मको खर्च रकम</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.ComplementryReportViewModelList)
            {

                decimal TotalBudgetAmt = item.TotalBudget;
                decimal TotalAmountByVDCMUN = item.AmountProvinceVdc;
                decimal RequestAmt = item.TotalBudget - item.AmountProvinceVdc;

                GrandTotalAmount = GrandTotalAmount + item.TotalBudget;
                GrandVDCMUNAmount = GrandVDCMUNAmount + TotalAmountByVDCMUN;
                GrandTotalRequestAmt = GrandTotalRequestAmt + RequestAmt;
            <tr>
                <td scope="row">@i</td>
                <td>@item.PhaseTitle</td>
                <td>@item.OfficeName</td>
                <td>@item.SubProgramId</td>
                <td>@item.SubProgramTitle</td>
                <td>@GrantApp.CommontUtilities.RetrunRsInLakh(item.TotalBudget)</td>
                @*<td>@item.AmountProvinceVdc</td>
        <td>@RequestAmt</td>*@
                <td>@item.TimeDurationYear</td>
                @*<th>@item.AppRunningStatus</th>
                <th>@item.AppRunningStatus</th>
                <th>@item.AppRunningStatus</th>
                <th>@item.AppRunningStatus</th>
                <th>@item.AppRunningStatus</th>*@
                <td>@GrantApp.CommontUtilities.RetrunRsInLakh(item.TotalContractAmount)</td>
                <td>@GrantApp.CommontUtilities.RetrunRsInLakh(item.TotalNikashaRamam)</td>
                <td>@GrantApp.CommontUtilities.RetrunRsInLakh(item.TotalAmountUsed)</td>

                <td>
                    @Html.ActionLink(" ", "ViewDetailProgressReport", new { @id = item.SubProgramId, @id1 = item.GrantTypeId, @id2 = item.QuadrimesterReportsDetailId, @id3 = 2 }, new { @class = "edits fa fa-eye" })
                </td>

            </tr>

                ++i;
            }

            @*<tr style="font-weight:bold;">
                <td colspan="8">जम्मा रकम</td>
                <td>@GrandTotalAmount</td>
                <td>@GrandVDCMUNAmount</td>
                <td>@GrandTotalRequestAmt</td>
            </tr>*@


        </tbody>
    </table>


</div>