@model GrantApp.Models.OfficeDetailsViewModel
@{
    int usertype = GrantApp.Areas.Admin.FunctionClass.GetCurrentLoginUserType();

    int i = 1;

}
<div class="table-responsive">

    <table class="table table-hover" id="IdleUserlisttable">
        <thead>
            <tr>
                <th>क्रम</th>
                <th>कार्यलयको नाम</th>
                <th>ठेगाना</th>
                <th>प्रदेश</th>
                <th>जिल्ला</th>
                <th>गापा/नपा</th>
                <th>कोड</th>


            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.OfficeDetailsViewModelList)
        {


        <tr>
            <th scope="row">@i</th>
            <th>@item.OfficeName</th>
            <td>@item.Address</td>
            <td>@item.ProvinceTitleEng</td>
            <td>@item.DistrictNameEng</td>
            <td>@item.VdcMunNameEng</td>
            <td>@item.VDCMUNCode</td>
        </tr>
            ++i;
        }


        </tbody>
    </table>
    </div>

