@model GrantApp.Models.OfficeDetailsForAdminViewModel

@{

    int i = 1;

}
<div class="table-responsive">

    <table class="table table-hover" id="IdleUserlisttable">
        <thead>
            <tr>
                <th>क्रम</th>
                <th>प्रदेश</th>
                <th>जिल्ला</th>
                <th>गापा/नपा</th>
                <th>कार्यलयको नाम</th>
                <th>ठेगाना</th>
                <th>युजरनेम</th>
                <th>कार्यलयको ईमेल</th>
                <th>टेलिफोन</th>
                <th>मुख्य मन्त्रि/मेयर/अध्यक्ष</th>
                <th>ईमेल</th>
                <th>मोबाईल नं</th>
                <th>उपमेयर/उपाध्यक्ष</th>
                <th>ईमेल</th>
                <th>मोबाईल</th>
                <th>मुख्य सचिव/प्रमुख प्रशासकिय अधिकृत</th>
                <th>ईमेल</th>
                <th>मोबाईल</th>
              



            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.OfficeDetailsForAdminViewModelList)
            {


                <tr>
                    <th scope="row">@i</th>
                    <td>@item.ProvinceTitleEng</td>
                    <td>@item.DistrictNameEng</td>
                    <td>@item.VdcMunNameEng</td>
                    <th>@item.OfficeName</th>
                    <td>@item.Address</td>
                    <td>@item.EmailID</td>
                    <td>@item.AuthorizedEmail</td>
                    <td>@item.Phone</td>
                    <td>@item.ContactPerson</td>
                    <td>@item.ContactPersonPost</td>
                    <td>@item.MobileNumber</td>
                    <td>@item.UpMayerName</td>
                    <td>@item.UpMayeraEmail</td>
                    <td>@item.UpMayerMobile</td>
                    <td>@item.ContactPersonAccount</td>
                    <td>@item.ContactPersonEmailAccount</td>
                    <td>@item.ContactPersonMobileAccount</td>
                    

                </tr>
                ++i;
            }


        </tbody>
    </table>
</div>
