@model GrantApp.Models.ReportModel


<div class="row shadow p-3 mb-5 bg-white rounded">
    <div class="col-md-6">
        कार्यलयको नाम : @Model.ObjSubprogramDetailForPartialViewModel.OfficeName
    </div>
    <div class="col-md-6">
        अनुदानको प्रकार : @Model.ObjSubprogramDetailForPartialViewModel.GrantTypeName
    </div>
    <div class="col-md-6">
        अनुदानको प्रकार : @Model.ObjSubprogramDetailForPartialViewModel.SectionName
    </div>
    <div class="col-md-6">
        अनुदानको प्रकार : @Model.ObjSubprogramDetailForPartialViewModel.ProgramName
    </div>
    <div class="col-md-6">
        कार्यक्रम नाम : @Model.ObjSubprogramDetailForPartialViewModel.SubProgramTitle
    </div>
    <div class="col-md-6">
        कार्यक्रमको अवधि : @Model.ObjSubprogramDetailForPartialViewModel.TimeDurationYear
    </div>
    <div class="col-md-3">
        कुल लागत : @Model.ObjSubprogramDetailForPartialViewModel.TotalBudget
    </div>


</div>

