@model GrantApp.Models.ReportModel

@{
    /**/

    int i = 1;
    int j = 1;
}

<div class="table-responsive" id="DetailsReportsID">



    <div class="col-md-4" style="margin:10px;">
        <h6>मुख्य विवरण</h6>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>क्रम</th>
                <th>स्वीकृत/अस्वीकृत</th>
                <th>आ.व.</th>
                <th>कार्यक्रम कोड</th>
                <th>अनुदान प्रकार</th>
                <th>कार्यक्रमको नाम</th>
                <th>अवधि</th>
                <th>कुल लागत</th>
                @*<th>माग प्रथम वर्ष</th>
                    <th>माग दोस्रो वर्ष</th>
                    <th>माग तेस्रो वर्ष</th>*@
                @*<th>माग रकम प्रथम वर्ष</th>*@
                <th>अनुमोदित प्रथम वर्ष (लाखमा)</th>
                @*<th>माग रकम दोस्रो वर्ष</th>*@
                <th>अनुमोदित दोस्रो वर्ष</th>
                @*<th>माग रकम तेस्रो वर्ष</th>*@
                <th>अनुमोदित तेस्रो वर्ष</th>
                <th>ठेक्का रकम</th>
                <th>प्रगति विवरण</th>


            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.ViewAllDetailsOfOfficeViewModelList)
            {
                decimal firstGrantedAmt = item.Ist;
                decimal totallagatAnuman = item.TotalBudget;
                try
                {
                    firstGrantedAmt = (item.Ist / 100000);
                }
                catch (Exception)
                {

                    firstGrantedAmt = item.Ist;
                }
                try
                {
                    totallagatAnuman = (totallagatAnuman / 100000);
                }
                catch (Exception)
                {

                    throw;
                }
                string ApprovedStr = string.Empty;
                //if (Model.ViewBagProgramPhaseNumber == item.ViewBagPhaseNumber)
                if (1 > 2)
                {
                    ApprovedStr = @"प्रकियामा";
                }
                else
                {
                    if (item.ApprovedStatus)
                    {
                        ApprovedStr‍‍‍ = @"स्वीकृत";
                    }
                    else
                    {
                        ApprovedStr = @"अस्वीकृत";
                    }
                }



                <tr>
                    <th scope="row">@i</th>
                    <th>@ApprovedStr‍‍‍</th>
                    <th>@item.PhaseTitle</th>
                    <td>@item.SubProgramID</td>
                    <td>@item.GrantTypeName</td>
                    <td>@item.SubProgramTitle</td>
                    <td>@item.TimeDurationYear</td>
                    <td>@totallagatAnuman</td>
                    @*<td>@item.BudgetForFirstYear</td>
                        <td>@item.BudgetForSecondYear</td>
                        <td>@item.BudgetForThirdYear</td>*@
                    @*<td>@item.RequestAmountIst</td>*@
                    <td>@firstGrantedAmt</td>
                    @*<td>@item.RequestAmountIInd</td>*@
                    <td>@item.IInd</td>
                    @*<td>@item.RequestAmountIIIrd</td>*@
                    <td>@item.IIIrd</td>
                    <td>@item.ContractAmount</td>
                    @if (item.ApprovedStatus)
                    {
                        <td>
                            @Html.ActionLink(" ", "ViewDetailProgressReportForAll", new { @id = item.SubProgramID, @id1 = item.GrantTypeId, @id2 = 0, @id3 = 1 }, new { @class = "edits fa fa-eye", target = "_blank" })
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }

                </tr>
                ++i;
            }


        </tbody>
    </table>

    @*<h6>प्रगति विवरण</h6>

        <table class="table table-danger">
            <thead>
                <tr>
                    <th>क्रम</th>
                    <th>आ.व.</th>
                    <th>कार्यक्रम कोड</th>
                    <th>आयोजना/कार्यक्रम</th>
                    <th>अवधि</th>
                    <th>पेश गरेको वर्ष</th>
                    <th>चौमासिक</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.ViewAllProgressReportDtlViewModelList)
                {
                    string QuardName = string.Empty;
                    if (item.QuadrimesterId == 1)
                    {
                        QuardName = "प्रथम चौमासिक";
                    }
                    else if (item.QuadrimesterId == 2)
                    {
                        QuardName = "दोस्रो चौमासिक";
                    }
                    else if (item.QuadrimesterId == 3)
                    {
                        QuardName = "तेस्रो चौमासिक";
                    }
                    <tr>
                        <td>@j</td>
                        <td>@item.PhaseTitle</td>
                        <td>@item.SubProgramId</td>
                        <td>@item.SubProgramTitle</td>
                        <td>@item.TimeDurationYear</td>
                        <td>@item.SubmitedYear</td>
                        <td>@QuardName</td>
                    </tr>

                    j++;

                }
            </tbody>
        </table>*@
</div>

