@model GrantApp.Models.OfficeDetailsViewModel

@{
    ViewBag.Title = "IdleUserList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int i = 1;
}



<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">प्रतिवेदनहरू</li>
        </ul>
    </div>
</div>
<section>
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">आयोजना माग गरेको तर हाल सम्म नपाएका स्थानिय तहहरूको विवरण</h1>
        </header>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><input type="button" id="btnExport" value="Export" /></h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive m_table">

                            <table class="table table-hover" id="IdleUserlisttable">
                                <thead>
                                    <tr>
                                        <th>क्रम</th>
                                        <th>प्रदेश</th>
                                        <th>जिल्ला</th>
                                        <th>गापा/नपा</th>
                                        <th>कार्यलयको नाम</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.OfficeDetailsViewModelList)
                                    {


                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@item.ProvinceTitleEng</td>
                                            <td>@item.DistrictNameEng</td>
                                            <td>@item.VdcMunNameEng</td>
                                            <th>@item.OfficeName</th>
                                           
                                           
                                        </tr>
                                        ++i;
                                    }


                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/AdminResources/js/table2excel.js"></script>
<script type="text/javascript">
    var kk = $.noConflict();
    kk(function () {
        kk("#btnExport").click(function () {
            kk("#IdleUserlisttable").table2excel({
                filename: "IdelUserList.xls"
            });
        });
    });
</script>
