@model GrantApp.Models.ReportModel

@{
    ViewBag.Title = "PointsFromAdmin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">मूल्यांकन</li>
        </ul>
    </div>
</div>

<section>
    <div class="container-fluid">
        <!-- Page Header-->
        <div class="row shadow p-3 mb-5 bg-white rounded">
            @*<div class="col-md-6">
                    कार्यलयको नाम : @Model.ObjApplicationDetailForAmountByAdminVM.OfficeName
                </div>
                <div class="col-md-6">
                    कार्यक्रम नाम : @Model.ObjApplicationDetailForAmountByAdminVM.ProjectTitle
                </div>
                <div class="col-md-12">
                    क्षेत्र नाम : @Model.ObjApplicationDetailForAmountByAdminVM.TypeTitle
                </div>*@

        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="card">

                    <div class="card-header d-flex align-items-center">

                        @if (ViewBag.Message != null)
                        {
                            <span style="background-color:#eadfdf;">@ViewBag.Message</span>
                        }
                    </div>
                    <div class="card-body">


                        @using (Html.BeginForm("PointsFromAdmin", "Reports", FormMethod.Post,
new { enctype = "multipart/form-data" }))
                        {

                            @Html.HiddenFor(m => m.ObjApplicationPointsFromAdminViewModel.SubprogramId)

                            @Html.ValidationSummary(true)

                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>सम्बन्धित प्रदेश वा स्थानीय तहको जनसंख्या</label>
                                    </div>
                                    <div class="col-md-3 col-sm-6 form-group">
                                        <label>var 2</label>
                                        @Html.DropDownListFor(m => m.ObjApplicationPointsFromAdminViewModel.VariableId2, GrantApp.Areas.Admin.FunctionClass.GetPointDetailsToUpdateFromAdminDD(1, 2), new { @class = "form-control form-control sm", @id = "dll_var2" })

                                    </div>
                                    <div class="col-md-3 col-sm-6 form-group">
                                        <label>सम्बन्धित प्रदेश वा स्थानीय तहको क्षेत्रफल</label>
                                        @Html.DropDownListFor(m => m.ObjApplicationPointsFromAdminViewModel.VariableId3, GrantApp.Areas.Admin.FunctionClass.GetPointDetailsToUpdateFromAdminDD(1, 3), new { @class = "form-control form-control sm", @id = "dll_var3" })

                                    </div>

                                    <div class="col-md-3 col-sm-6 form-group">
                                        <label>सम्बन्धित प्रदेश वा स्थानीय तहको मानव विकास सुचकांकको अवस्था</label>
                                        @Html.DropDownListFor(m => m.ObjApplicationPointsFromAdminViewModel.VariableId4, GrantApp.Areas.Admin.FunctionClass.GetPointDetailsToUpdateFromAdminDD(1, 4), new { @class = "form-control form-control sm", @id = "dll_var4" })




                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-4 col-sm-8 form-group">
                                        <label>सम्बन्धित प्रदेश वा स्थानीय तहको न्यून विकासको अवस्था</label>
                                        @Html.DropDownListFor(m => m.ObjApplicationPointsFromAdminViewModel.VariableId5, GrantApp.Areas.Admin.FunctionClass.GetPointDetailsToUpdateFromAdminDD(1, 5), new { @class = "form-control form-control sm", @id = "dll_var5" })
                                    </div>
                                    <div class="col-md-4 col-sm-12 form-group">
                                        <label>आयोजनाबाट विषय क्षेत्रगत उपलब्धिमा पुग्ने योगदान</label>
                                        @Html.DropDownListFor(model => model.ObjApplicationPointsFromAdminViewModel.VariableId6, GrantApp.Areas.Admin.FunctionClass.GetPointDetailsToUpdateFromAdminDD(1, 6), new { @class = "form-control form-control-sm", id = "dll_var6" })

                                    </div>
                                    <div class="col-md-4 col-sm-12 form-group">
                                        <label>आयोजनाको पन्ध्रैा योजनाको राष्ट्रिय प्राथमिकता र राष्ट्रिय उदेश्यसँग सामञ्जस्यता</label>
                                        @Html.DropDownListFor(model => model.ObjApplicationPointsFromAdminViewModel.VariableId11, GrantApp.Areas.Admin.FunctionClass.GetPointDetailsToUpdateFromAdminDD(2, 11), new { @class = "form-control form-control-sm", id = "dll_var11" })

                                    </div>
                                    <div class="col-md-5 col-sm-12 form-group">
                                        <label>सम्बन्धित प्रदेश वा स्थानीय तहको जनसंख्या</label>
                                        @Html.DropDownListFor(model => model.ObjApplicationPointsFromAdminViewModel.VariableId12, GrantApp.Areas.Admin.FunctionClass.GetPointDetailsToUpdateFromAdminDD(2, 12), new { @class = "form-control form-control-sm", id = "dll_var12" })
                                    </div>
                                    <div class="col-md-4 col-sm-12 form-group">
                                        <label>सम्बन्धित प्रदेश वा स्थानीय तहको क्षेत्रफल</label>
                                        @Html.DropDownListFor(model => model.ObjApplicationPointsFromAdminViewModel.VariableId13, GrantApp.Areas.Admin.FunctionClass.GetPointDetailsToUpdateFromAdminDD(2, 13), new { @class = "form-control form-control-sm", id = "dll_var13" })

                                    </div>
                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label>सम्बन्धित प्रदेश वा स्थानीय तहको पूर्वाधार विकासको अवस्था</label>
                                        @Html.DropDownListFor(model => model.ObjApplicationPointsFromAdminViewModel.VariableId14, GrantApp.Areas.Admin.FunctionClass.GetPointDetailsToUpdateFromAdminDD(2, 14), new { @class = "form-control form-control-sm", id = "dll_var14" })
                                    </div>
                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label>आयोजना पूर्व तयारीको अवस्था</label>
                                        @Html.DropDownListFor(model => model.ObjApplicationPointsFromAdminViewModel.VariableId16, GrantApp.Areas.Admin.FunctionClass.GetPointDetailsToUpdateFromAdminDD(2, 16), new { @class = "form-control form-control-sm", id = "dll_var16" })
                                    </div>

                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label>आयोजना कार्यान्वयनमा स्थानीय श्रोत साधनको उपयोग</label>
                                        @Html.DropDownListFor(model => model.ObjApplicationPointsFromAdminViewModel.VariableId18, GrantApp.Areas.Admin.FunctionClass.GetPointDetailsToUpdateFromAdminDD(2, 18), new { @class = "form-control form-control-sm", id = "dll_var18" })
                                    </div>
                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label>आयोजनामा प्रदेश वा स्थानीय तहको लगानीको हिस्सा</label>
                                        @Html.DropDownListFor(model => model.ObjApplicationPointsFromAdminViewModel.VariableId19, GrantApp.Areas.Admin.FunctionClass.GetPointDetailsToUpdateFromAdminDD(2, 19), new { @class = "form-control form-control-sm", id = "dll_var19" })
                                    </div>


                                    <div class="col-md-3 col-sm-12 form-group">
                                        <label>जम्मा प्राप्त नंम्बर</label>
                                        @Html.TextBoxFor(model => model.ObjApplicationPointsFromAdminViewModel.TotalPoints, new { @class = "form-control form-control-sm", id = "TotalNumberOb" })

                                    </div>
                                </div>


                                <button type="button" class="btn btn-info" onclick="ShowTotalNubmer()"><i class="fa fa-floppy-o">&nbsp;</i>जम्मा नंम्बर देखाउनुहोस</button>

                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o">&nbsp;</i>सुरक्छित गर्नुहोस</button>
                                <button type="button" class="btn btn-primary" onclick="goBack()"><i class="fa fa-floppy-o">&nbsp;</i>मुख्य मेनु</button>

                            </fieldset>
                        }




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


<script type="text/javascript">
    function ShowTotalNubmer() {

        var dll_var2Ans = $("#dll_var2").val();
        var dll_var3Ans = $("#dll_var3").val();
        var dll_var4Ans = $("#dll_var4").val();
        var dll_var5Ans = $("#dll_var5").val();
        var dll_var6Ans = $("#dll_var6").val();
        var dll_var11Ans = $("#dll_var11").val();
        var dll_var12Ans = $("#dll_var12").val();
        var dll_var13Ans = $("#dll_var13").val();
        var dll_var16Ans = $("#dll_var16").val();
        var dll_var18Ans = $("#dll_var18").val();
        var dll_var19Ans = $("#dll_var19").val();
        var TotalPoints = parseInt(dll_var2Ans) + parseInt(dll_var3Ans) + parseInt(dll_var4Ans) + parseInt(dll_var5Ans) + parseInt(dll_var6Ans) + parseInt(dll_var11Ans) + parseInt(dll_var11Ans) + parseInt(SixthSection1stAns) + parseInt(SeventhSection1stAns);
        $("#TotalNumberOb").val(TotalPoints);

    }
    function goBack() {
        history.go(-1);
    }


</script>




