@model GrantApp.Models.ReportModel

@{
    ViewBag.Title = "ViewAllDetailsVDCWise";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">प्रतिवेदनहरू</li>
        </ul>
    </div>
</div>
<section>
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">सम्पूर्ण विवरण -स्थानिय तह अनुसार</h1>
        </header>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">

                        <h4><input type="button" id="btnExport" value="Export" /></h4>

                    </div>
                    <div class="card-body">

                        @using (Ajax.BeginForm("ViewAllDetailsVDCWise", "Reports", new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "DetailsReportsID",
                            LoadingElementId = "loader"
                        }))
                        {
                            <fieldset>
                                <div class="row">

                                    <div class="col-md-3 col-sm-6 form-group">
                                        <label>आर्थिक वर्ष</label>
                                        @Html.DropDownListFor(m => m.ProgramPhaseNumber, GrantApp.Areas.Admin.FunctionClass.GetProgramPhaseListDDDefault(), new { @class = "form-control form-control sm", @id = "dll_phaseNumber" })

                                    </div>


                                    <div class="col-md-3 col-sm-6 form-group">
                                        <label>प्रदेश</label>
                                        @Html.DropDownListFor(m => m.ProvinceIdSearch, GrantApp.Areas.Admin.FunctionClass.GetProvincesDDWithoutSelect(), new { @class = "form-control form-control sm", @id = "dll_province", @onchange = "GetDistrictListDD()", @required = "required" })

                                    </div>
                                    <div class="col-md-3 col-sm-6 form-group">
                                        <label>जिल्ला</label>
                                        @Html.DropDownListFor(m => m.DistrictIdSearch, GrantApp.Areas.Admin.FunctionClass.GetDistrictByStateIdDD(Model.ProvinceIdSearch), new { @class = "form-control form-control sm", @id = "dll_district", @onchange = "GetVDCMUNListDD()", @required = "required" })

                                    </div>
                                    <div class="col-md-3 col-sm-6 form-group">
                                        <label>गापा/नपा</label>
                                        @Html.DropDownListFor(model => model.VDCMUNIdSearch, GrantApp.Areas.Admin.FunctionClass.GetRuralMunicipalitybyDistrictDD(Model.DistrictIdSearch), new { @class = "form-control form-control-sm", id = "dll_vdcmun" })

                                    </div>
                                    <div class="col-md-3 col-sm-6 form-group">
                                        <label>स्वीकृत अवस्था</label>
                                        @Html.DropDownListFor(model => model.ApprovedOrRejectedStatusId, GrantApp.Areas.Admin.FunctionClass.ApprovedOrRejectedDDWithAll(), new { @class = "form-control form-control-sm", id = "dll_vdcmun" })

                                    </div>
                                </div>




                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o">&nbsp;</i>खोज्नुहोस</button>
                            </fieldset>
                        }

                        <div id="loader" class=" aletr" style="display:none">
                            Loading...
                            <img src="~/AdminResources/img/ajax-loader.gif" />
                        </div>

                        <div id="DetailsReportsID"></div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


<script type="text/javascript">
    function GetDistrictListDD() {
        var value = $("#dll_province option:selected").val();
        $.ajax({
            url: "@Url.Action("GetDistrictDDByProvinceIdWithSelectValue", "AjaxRequest", new { @area="admin"})",
            data: { id: value },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred.");
            },
            success: function (data) {
                var items = "";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                $("#dll_district").html(items);
                $("#dll_vdcmun").html('<option selected="selected" value="0">--Select--</option>');
            }
        })
    };

    function GetVDCMUNListDD() {
        var value = $("#dll_district option:selected").val();
        $.ajax({
            @*url: "@Url.Action("GetVDCMUNDDByDistrictId", "AjaxRequest", new { @area="admin"})",*@
            url: "@Url.Action("GetVDCMUNDDByDistrictIdWithDefaultValue", "AjaxRequest", new { @area="admin"})",
            data: { id: value },
            dataType: "json",
            type: "POST",
            error: function () {
                GetVDCMUNDDByDistrictId
                alert("An error occurred.");
            },
            success: function (data) {
                var items = "";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                $("#dll_vdcmun").html(items);
            }
        })
    };



</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/AdminResources/js/table2excel.js"></script>
<script type="text/javascript">
    var kk = $.noConflict();
    kk(function () {
        kk("#btnExport").click(function () {
            kk("#DetailsReportsID").table2excel({
                filename: "dtlReports.xls"
            });
        });
    });
</script>


