@model GrantApp.Models.SubProgramMaster

@{
    ViewBag.Title = "ViewDeatils";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int sn = 1;
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Details</li>
        </ul>
    </div>
</div>

<style>
    .btn-toolbar {
        display: inline !important;
    }

    .fake_fieldset {
        border: 2px groove ButtonFace;
        border-top-width: 0;
        margin-left: 2px;
        margin-right: 2px;
        padding: .35em .625em .75em;
        margin-top: 1em;
        position: relative;
    }

    .fake_legend {
        margin-top: -1em;
    }

        .fake_legend.test1::before {
            position: absolute;
            top: 0;
            left: -1px;
            border-top: 2px groove ButtonFace;
            content: " ";
            width: 0.5em;
        }

        .fake_legend.test1::after {
            position: absolute;
            top: 0;
            right: -1px;
            border-top: 2px groove ButtonFace;
            content: " ";
            width: 40%;
        }

        .fake_legend text1 span {
            color: red;
            font-weight: bold;
        }
</style>

<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h2 class="h3 display">
                कार्यलयको नाम:
                @GrantApp.Areas.Admin.FunctionClass.GetOfficeNameByOfficeId(Model.OfficeId)
                &nbsp;&nbsp;&nbsp;(@GrantApp.Areas.Admin.FunctionClass.GetProvinceDistrictVDCMUNByOfficeID(Model.OfficeId))
            </h2>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">

                        <h4 style="color:#0991f3;">
                            आयोजना/कार्यक्रमको विवरण
                        </h4>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-3 form-group"><b>मुलभुत क्षेत्र:</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@GrantApp.Areas.Admin.FunctionClass.GetMainSectionNameByMainSectionid(Model.MainSectionId)</div>
                            <div class="col-lg-4 col-md-3 form-group"><b>आधार/क्षेत्र:</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@CommontUtilities.GetProgramNameById(Model.ProgramId)</div>
                            <div class="col-lg-4 col-md-3 form-group"><b>आयोजना/कार्यक्रमको नाम:</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@Model.SubProgramTitle</div>
                            <div class="col-lg-4 col-md-3 form-group"><b>कूल लागत:</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@Model.TotalBudget</div>
                            <div class="col-lg-4 col-md-3 form-group"><b>लाभान्वित सम्भाब्य जनसंख्या:</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@Model.ProbableBenefitedPopulation</div>
                            <div class="col-lg-4 col-md-3 form-group"><b>अवधि (वर्ष):</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@Model.TimeDurationYear</div>
                            <div class="col-lg-4 col-md-3 form-group"><b>प्रदेश वा स्थानिय तहले व्यहोर्ने रकम:</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@Model.AmountProvinceVdc</div>
                            <div class="col-lg-4 col-md-3 form-group"><b>सहकारी तथा अन्य गैर सरकारीले व्यहोर्ने रकम:</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@Model.NGOINGOAmount</div>
                            <div class="col-lg-4 col-md-3 form-group"><b>माग रकम (प्रथम वर्ष):</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@Model.BudgetForFirstYear</div>
                            <div class="col-lg-4 col-md-3 form-group"><b>माग रकम (दोस्रो वर्ष):</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@Model.BudgetForSecondYear</div>
                            <div class="col-lg-4 col-md-3 form-group"><b>माग रकम (तेस्रो वर्ष):</b></div>
                            <div class="col-lg-8 col-md-9 form-group">@Model.BudgetForThirdYear</div>


                            <div class="clearfix"></div>


                        </div>
                        <hr />


                        <div class="row">

                            <div class="col-lg-4 col-md-3 form-group"><h4 style="color:#0991f3;">शर्तहरू पुरा भएर घोषणा गरेको फाइल:</h4></div>
                            <div class="col-lg-4 col-md-9 form-group">@Model.FinalDocumentsUrl</div>
                            @if (Model.FinalDocumentsUrl != "")
                            {
                                <div class="col-lg-4 col-md-9 form-group">@Html.ActionLink(" Download", "Download", "GrantRequestForm", new { @FileName = Model.FinalDocumentsUrl }, new { @class = "fa fa-download" })</div>
                            }
                        </div>


                        <div class="row">
                            <table class="table table-bordered" style="width:75%;">
                                <thead>
                                    <tr>
                                        <td>क्रस</td>
                                        <td></td>
                                        <td>शर्त</td>
                                        <td>अपलोड गरीएको फाईल</td>
                                        <td>डाउनलोड</td>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.ProgramConditionsViewModelList)
                                {
                                    <tr>
                                        <td>@sn</td>
                                        <td>@Html.CheckBox("CBName", item.IsCheck)</td>
                                        <td>@item.ConditionsTitle</td>

                                        <td>@item.UploadFileUrl</td>
                                        <td>
                                            @if (item.UploadFileUrl != "")
                                            {
                                                @Html.ActionLink(" Download", "Download", "GrantRequestForm", new { @FileName = item.UploadFileUrl }, new { @class = "fa fa-download" })
                                            }
                                        </td>



                                    </tr>
                                    sn++;
                                }

                            </table>
                        </div>


                        <div class="row">
                            <h4 style="color:#0991f3;">

                                थप विवरण
                            </h4>



                            @for (int i = 0; i < Model.ValuationResultViewModelList.Count; i++)
                            {
                                string cls = "css" + Model.ValuationResultViewModelList[i].VariableId;
                                if (Model.ValuationResultViewModelList[i].MainTitle != null)
                                {


                                    <div class="col-md-12 col-sm-6 form-group">
                                        <label>@Html.DisplayFor(m => Model.ValuationResultViewModelList[i].MainTitle)</label>

                                    </div>
                                }
                                <div class="col-md-1 col-sm-6 form-group">
                                    <label>
                                        @Html.CheckBoxFor(m => Model.ValuationResultViewModelList[i].IsChecked, new { @class = cls })
                                        @Html.DisplayFor(m => Model.ValuationResultViewModelList[i].SerialNep)
                                    </label>
                                </div>

                                <div class="col-md-11 col-sm-6 form-group">
                                    @Html.HiddenFor(m => Model.ValuationResultViewModelList[i].VariableId)
                                    @Html.HiddenFor(m => Model.ValuationResultViewModelList[i].VariableDetailId)
                                    @Html.DisplayFor(m => Model.ValuationResultViewModelList[i].SubTitle, new { @class = "form-control form-control sm" })
                                </div>
                            }
                            <div class="clearfix"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-6 form-group">

                                <h4 style="color:#0991f3;">
                                    राष्ट्रिय उदेश्यसँग सामञ्जस्यता
                                </h4>

                            </div>
                            @for (int i = 0; i < Model.FifteenYojanaDetailsList.Count; i++)
                            {
                                <div class="col-md-12 col-sm-6 form-group">
                                    <label>@Model.FifteenYojanaDetailsList[i].OptionValue</label>
                                    @Html.CheckBoxFor(m => Model.FifteenYojanaDetailsList[i].IsChecked, new { @disabled = "disabled" })
                                    @Html.DisplayFor(m => Model.FifteenYojanaDetailsList[i].YojanaTitle)
                                    @Html.HiddenFor(m => Model.FifteenYojanaDetailsList[i].OptionValue)
                                    @Html.HiddenFor(m => Model.FifteenYojanaDetailsList[i].SubProgramId)
                                    @Html.HiddenFor(m => Model.FifteenYojanaDetailsList[i].RefGrantVariableId)

                                </div>
                            }
                        </div>
                        @if (Model.PhaseStatus == 4)
                        {
                            <div class="row" style="display:none;">
                                <div class="col-lg-12">

                                    @using (Html.BeginForm("AddApplicationResult", "Reports", FormMethod.Post,
new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.HiddenFor(m => m.SubProgramId)
                                        @Html.HiddenFor(m => m.PhaseStatus)
                                        @Html.HiddenFor(m => m.GrantTypeId)
                                        @Html.ValidationSummary(true)

                                        <fieldset>
                                            <div class="fake_fieldset test1">
                                                <div class="fake_legend test1">मूल्याकंन:</div>
                                                <div class="row">
                                                    @*<div class="col-md-4 col-sm-12 form-group">
                                                            <label>प्रमाणित प्रक्रिया</label>
                                                            @Html.DropDownListFor(m => m.ObjMakeApprovedFinalListViewModel.ApprovedStatus, GrantApp.Areas.Admin.FunctionClass.GetApprovedStatusListDD(), new { @id = "dll_MainSectionId", @class = "form-control form-control sm", @required = "required" })

                                                        </div>*@

                                                    <div class="col-md-4 col-sm-6 form-group">
                                                        <label>स्वीकृत रकम</label>
                                                        @Html.TextBoxFor(m => m.ObjMakeApprovedFinalListViewModel.ApprovedAmount, new { @class = "form-control form-control sm", required = "required", @id = "ApprovedAmount" })
                                                        @Html.ValidationMessageFor(m => m.ObjMakeApprovedFinalListViewModel.ApprovedAmount)
                                                    </div>

                                                    @*<div class="col-md-12 col-sm-6 form-group">
                                                            <label>कैफियत/विवरण</label>
                                                            @Html.TextBoxFor(m => m.CancelledRemarks, new { @class = "form-control form-control sm", @required = "required", @id = "statusComment" })
                                                            @Html.ValidationMessageFor(m => m.CancelledRemarks)
                                                        </div>*@


                                                </div>

                                                <div class="form-group">

                                                    @if (Model.Status == 2)
                                                    {
                                                        <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-floppy-o">&nbsp;</i> सुरक्षित गर्नुहोस</button>
                                                    }


                                                </div>
                                            </div>
                                        </fieldset>
                                    }
                                </div>
                            </div>
                        }


                        <hr />
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-4">
                                    @if (Model.ViewbagGrantTypeId == 1)
                                    {
                                    <div class="text-right">
                                        <button type="button" class="btn btn-primary" onclick="goBack()"><i class="fa fa-floppy-o">&nbsp;</i>मुख्य मेनु</button>

                                        @*@Html.ActionLink("मुख्य सूचि", "ProposalValuationResultList", "GrantRequestForm", new { @id = Model.ViewbagGrantTypeId }, new { @class = "btn btn-info" })*@
                                    </div>

                                    }
                                    else
                                    {
                                    <div class="text-right">
                                        <button type="button" class="btn btn-primary" onclick="goBack()"><i class="fa fa-floppy-o">&nbsp;</i>मुख्य मेनु</button>

                                        @*@Html.ActionLink("मुख्य सूचि", "ProposalValuationResultListGrantTypeII", "GrantRequestForm", new { @id = Model.ViewbagGrantTypeId }, new { @class = "btn btn-info" })*@
                                    </div>

                                    }
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function goBack() {
        history.go(-1);
    }
</script>